@{
    ViewData["Title"] = "Inicio";
}

<div style="text-align:center; margin-top:40px;">
    <h1>🎉 ¡Feliz cumpleaños, mi princesa, mi gordita, mi osita! 🎉</h1>
    <div class="carta-romantica">
        <p>
            Hoy celebramos un día <span class="destacado">único</span>, un 9 de octubre que quedó marcado para siempre.  
            Ese día llegó al mundo la mujer que con el tiempo se volvería <span class="destacado">lo más importante</span> en mi vida.  
        </p>

        <!-- Primera imagen -->
        <div class="imagenes-carta imagen-individual">
            <img src="/Images/Gia.jpg" alt="Imagen 1" />
        </div>

        <p>
            Desde nuestras primeras palabras sentí que había algo <span class="destacado">especial</span> entre nosotros.  
            Jamás imaginé que podríamos entendernos tan bien, en tantas formas y tan <span class="destacado">profundamente</span>.  
            Estoy <span class="destacado">infinitamente agradecido</span> de que hayas llegado a mi camino,  
            porque desde entonces me <span class="destacado">inspiras a ser mejor</span>, a ver la vida con más <span class="destacado">alegría</span>  
            y a <span class="destacado">sonreír con solo pensarte</span>.  
        </p>

        <!-- Segunda imagen -->
        <div class="imagenes-carta imagen-individual">
            <img src="/Images/Gia2.jpg" alt="Imagen 2" />
        </div>

        <p>
            Amo nuestra <span class="destacado">conexión</span>, esa chispa única que nos une.  
            Quiero <span class="destacado">cuidarte</span>, <span class="destacado">protegerte</span>, <span class="destacado">hacerte feliz</span>,  
            darte <span class="destacado">seguridad</span> y que sientas <span class="destacado">orgullo de estar a mi lado</span>.  
            No hay un solo día en el que no pases por mi mente, <span class="destacado">mi amor</span>.  
        </p>

        <!-- Tercera imagen -->
        <div class="imagenes-carta imagen-individual">
            <img src="/Images/Gia3.jpg" alt="Imagen 3" />
        </div>

        <p>
            Por eso hoy, una vez más, te <span class="destacado">agradezco por existir</span>,  
            por llegar a mi vida y, sobre todo,  
            por permitirme ser <span class="destacado">parte de la tuya</span>.  
        </p><br><br>
        
        <p>
            Atentamente <span class="destacado">tu Osito</span>
        </p>
        
    </div>
</div>
